{% extends 'baseFront.html.twig' %}

{% block title %}Livraison index{% endblock %}
{% block livreur %}
    <li class="nav-item">
        <a href="{{ path('app_livraison_index') }}" class="navbar-link" data-nav-link>Mes Livraisons</a>
    </li>
{% endblock %}
{% block content %}
  

    <table class="table">
        <thead>
            <tr>
               
                <th>HeureDepart</th>
                <th>EtatLivraison</th>
                <th>CommentairesLivreur</th>
               
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
             
                <td>{{ livraison.heureDepart }} H</td>
                <td>{{ livraison.etatLivraison }}</td>
                <td>{{ livraison.commentairesLivreur }}</td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
{% endblock %}
