{% extends 'FooterHeader.html.twig' %}

{% block title %}
    <title>Espace Recettes</title>
{% endblock %}

{% block body %}

<main>
    <article>
        <section class="hero" id="home">
            <h2>Ajouter une recette</h2>
            <form action="/ajouter_recette" method="POST">
                <div class="form-group">
                    <label for="titre">Titre :</label>
                    <input type="text" id="titre" name="titre" required>
                </div>
                <div class="form-group">
                    <label for="description">Description :</label>
                    <textarea id="description" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="ingredients">Ingrédients :</label>
                    <textarea id="ingredients" name="ingredients" required></textarea>
                </div>
                <div class="form-group">
                    <label for="etape">Étapes :</label>
                    <textarea id="etape" name="etape" required></textarea>
                </div>
                <div class="form-group">
                    <label for="image">Image :</label>
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>
                <div class="form-group">
                    <label for="video">Vidéo :</label>
                    <input type="text" id="video" name="video">
                </div>
                <button type="submit">Ajouter</button>
            </form>
        </section>

    </article>
</main>

{% endblock %}
