{% extends 'FooterHeader.html.twig' %}

{% block s %}
    <title>Espace Recettes</title>
{% endblock %}

{% block body %}

</style>
<main>
    <section class="section section-divider white blog" id="blog">
    <h1>Liste des Recettes</h1>
    <ul>
        {% for recette in recettes %}
            <li>{{ recette.titre }}</li>
        {% endfor %}
        
    </section>
</main>
{% endblock %}