{% extends 'base.html.twig' %}



{% block title %}New Restaurant{% endblock %}

{% block body %}
<style>
.container{
     text-align: center;
}
.form-container{
     font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.recette-form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

    .recette-form h1 {
        margin: 0;
        font-size: 28px;
        color: #333;
    }

    .recette-form .form-group {
        margin-bottom: 20px;
    }

    .recette-label {
        font-size: 18px;
        font-weight: bold;
        color: #555;
    }

    .form-control {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 12px;
        width: 100%;
        box-sizing: border-box;
    }

    .form-control:focus,
    .form-control:hover {
        border-color: #007bff;
    }

    .btn-primary {
        border-radius: 5px;
        padding: 12px 24px;
        background-color: #f14141;
        color: #fff;
        border: none;
        cursor: pointer;
        width: 100%;
        display: inline-block;
        transition: background-color 0.3s ease;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    /* Amélioration de l'accessibilité */
    .text-danger {
        color: #dc3545;
    }

    /* Autres styles */
    a {
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
    .aa {
        display: flex;
        justify-content: center;
        align-items: center; /* Centre l'image verticalement */
        height: 296px; /* Vous pouvez ajuster la hauteur du conteneur selon vos besoins */
    }


</style>
    <div class="container">
        <h1 style="color: red;">Create New Restaurant</h1>

        <div class="form-container"  padding: 20px;">
            {{ include('restau/_form.html.twig', {'form': form}) }}
        </div>

        <a href="{{ path('app_restau_index') }}" style="color: white; text-decoration: none; background-color: red; padding: 10px 20px; border-radius: 5px; display: inline-block; margin-top: 20px;">Back to List</a>
    </div>


   
{% endblock %}





