{% extends 'base.html.twig' %}

{% block title %}New Supplement{% endblock %}

{% block body %}
    <h1>Create new Supplement</h1>

    {{ include('supplement/_form.html.twig') }}

    <a href="{{ path('app_supplement_index') }}">back to list</a>
{% endblock %}
