{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .error-message{
            display: none;
            color: red;
        }

        .single-input-fields{
            margin-bottom: 10px;
        }

        .input-error{
            border: 1px solid red !important;
        }
    </style>
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
    <div class="login-form-area">






        {{ form_start(form) }}
            <div class="login-form">

                <div class="login-heading">
                    <span>Changer le mot de passe</span>
                </div>

                <div class="input-box">


                    <div class="single-input-fields">
                        <label for="inputPassword">Nouveau mot de passe</label>
                        {{ form_widget(form.password, {'attr': {'type': 'password'}}) }}
                    </div>

                    <div class="single-input-fields">
                        <label for="inputPassword">Confirmer votre mot de passe</label>
                        {{ form_widget(form.confirmPassword, {'attr': {'type': 'password'}}) }}
                    </div>




                </div>


                <div class="login-footer">
                    <button type="submit" class="submit-btn3" style=background-color:#C21A1A;>Save</button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>


{% endblock %}

{% block footer %}

{% endblock %}

